.chat {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: solid black 1px;
    padding: 10px;
    max-height: 40vh;
    max-width: 40%;
    overflow-y: scroll;
}
#messages {
    max-height: 100px;
    overflow-y: scroll;
    word-break: break-all;
}
.hidden {
    display: none;
}