.Header {
    margin:auto;
}
.ConectedList {
    margin:auto;
}
.ConectedList, td {
    border: solid 1px black;
    border-collapse: collapse;
}
.ConectedList td {
    padding: 5px;
    border: solid 1px black;
    border-collapse: collapse;
}

.board-left,
.board-right,
.board-corner {
    height: 72px /*calc((100vh - 280px) / 10) !important*/;
}
.Semanpoly {
	font-size: 80px;
    transform: rotate(-45deg);
    padding-bottom: calc(100% / 3);
}

.Semanpoly span {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-weight: bolder;
    letter-spacing: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

@keyframes changecolor {
	0% {
		background: #d1182a;
	}
	30% {
		background: #6e020d;
	}
	100% {
		background: #d1182a;
	}
}

#control {
	display: none;
	background-color: white;
}
.hidden {
    display: none;
}
#alert{
    height: 138px;
    width: calc(100% - 4px);
	margin: 0px;
	padding-left: 1px;
	border: 1px solid gray;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	background-color: #FFFFFF;
	overflow-y: scroll;
    text-align: initial;
}
.control {
    width: 100%;
    border: solid 1px !important;
}
.control tr,
.control tr td{
    border: solid 1px !important;
}

.chat {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: solid black 1px;
    padding: 10px;
    max-height: 40vh;
    max-width: 40%;
    overflow-y: scroll;
}
#messages {
    max-height: 100px;
    overflow-y: scroll;
    word-break: break-all;
}
#board {
	background: radial-gradient(#bb1324, white);
    color: black;
}
p, h1 {
    margin: 5px;
}
.board-top .cell-owner {
	background-image: url("../images/hori-bar.png");
	height: 15px;
	left: 0px;
	top: 0px;
	width: 72px;
}
.board-bottom .cell-owner {
	background-image: url("../images/hori-bar.png");
	bottom: 0px;
	height: 15px;
	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	background-image: url("../images/vert-bar.png");
	height: 68px;
	left: opx;
	top: 0px;
	width: 15px;

}

.board-right .cell-owner {
	background-image: url("../images/vert-bar.png");
	height: 68px;
	right: 0px;
	top: 0px;
	width: 15px;
}
.board {
	background: black;
	color: white;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border: black 1px solid !important;
}
#cell20 div {
	transform: rotate(75deg);
    top: 0;
}
