body {
    background: url(../images/patron1.png);
    background-repeat: repeat;
    font-family: 'Handlee'
}
#cell0 {
    background: transparent;
}
hr {
    margin: .5vh;
}
ol {
    font-size: 20px;
}
legend {
    font-size: 25px;
}
.nextBTN {
    font-size: 3vw;
    background: #6a3d12;
}
.error {
    background: #963434;
    padding: 10px;
}
.success {
    background:#22712a;
    padding: 10px;
}
#Qholder {
    /* height: calc((100% - 80px) - 8.2vw); */
}
.optHolder {
    font-size: 1.5vw;
}
#btnHolder {
}
#btnHolder button {
    width: calc((100% - 12vw) - 24px);
    position: absolute;
    bottom: 1vh;
    font-size: 3vw;
    background: #6a3d12;
}
#temaHolder {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    background: #3b3b93;
    color:  white;
    border: solid 1px black;
}
.questionHolder {
    margin-left: 6vw;
    margin-right: 6vw;
    height: 60vh;
    text-align:justify;
    border:  solid 1px black;
    background: #9b9383;
    padding:2vh;
    display:none;
}
.ValidationHolder{
    margin-left: 6vw;
    margin-right: 6vw;
    text-align:justify;
    padding:2vh;
    font-size: 5vw;
    text-align: center;
    bottom: 4vh;
    position: absolute;
    right: 6vw;
    display: none;
}
.border-top{ 
    background: url(../images/bar.jpeg);
    background-repeat: repeat;
    background-size: contain;
    top: 10vh;
    position: absolute;
    left: 10vw;
    right: 10vw;
    height: 4vw;
}
.border-bottom {
    background: url(../images/bar.jpeg);
    background-repeat: repeat;
    background-size: contain;
    bottom: 10vh;
    position: absolute;
    left: 10vw;
    right: 10vw;
    height: 4vw;
}
.circle-tl {
    position:absolute;
    top:5vh;
    left:5vw;
}
.circle-tr {
    position:absolute;
    top:5vh;
    right:5vw;    
}
.circle-br {
    position:absolute;
    bottom:5vh;
    right:5vw;   
}
.circle-bl {
    position:absolute;
    bottom:5vh;
    left:5vw;    
}
.circle {
    background: url(../images/circle.jpeg);
    width: 16vw;
    height: 16vw;
    background-size: cover;
    border-radius: 50%;
}
.circle svg {
    width: 94%;
    height: 94%;
    margin: 5%;
}
.vertical {
    background: url(../images/vertical.jpeg);
    background-repeat:repeat-y;
    background-size: contain;
    position:absolute;
    top:10vh;
    bottom:10vh;
    width:4vw;
}
.vertical-l {
    left:10vw
}
.vertical-r {
    right:10vw;
}
.title {
    position: absolute;
    font-family: 'Frijole';
    bottom:48vh;
    font-size:6vw;
    text-align: center;
    left: 25vw;
    right: 25vw;
}
.desc {
    position: absolute;
    bottom:43vh;
    font-size:3vw;
    text-align: center;
    left: 18vw;
    right: 18vw;
    font-family: 'Love Ya Like A Sister';
}
.nickname {
    position: absolute;
    bottom:36vh;
    font-size:3vw;
    text-align: center;
    left: 18vw;
    right: 18vw;
}
.nickname input {
    text-align: center;
    font-size:2vw;
    background: transparent;
    border: solid #572c13 2px;
    border-radius: 5px;
    color: black;
}
.roll-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 3vw;
    background: #6a3d12;
}
html, body {
    border: none;
}
.logo {
    position: absolute;
    top: 25vh;
    font-size: 6vw;
    transform: rotateZ(-35deg);
    color: #ffffff35;
    width: 100%;
    text-align: center;
}